@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
};

/* 
  After the double hyphen, you can define your own custom variable name.
  In space-separated syntax, you don't use commas for hsl and rgb, 
  but for rgba and hsla, you should use commas.
*/

/* @layer base {
    /* :root {
      --color-bgBase: 39deg 85% 95%;
      --color-content: 0deg 0% 20%;
    } */
  
    /* If the user's system preference is dark */
    /* @media (prefers-color-scheme: dark) {
      :root {
        --color-bgBase: 240deg 27% 18%;
        --color-content: 210deg 14% 53%;
      }
    } */
    
    /* If the user switchs dark mode */
    /* :root[data-theme="dark"] {
      --color-bgBase: 240deg 27% 18%;
      --color-content: 210deg 14% 53%;
    }
  
    /* If the user switchs light mode */
    /* :root[data-theme="light"] {
      --color-bgBase: 39deg 85% 95%;
      --color-content: 0deg 0% 20%;
    } */
  